<div class="container-fluid">
  <div class="page-header">
    <h1><center>Hello <%= @today %></center></h1>
  </div>

  <div class="well">
    <h1><center>Today:   <%= @am_task %></center></h1>
    <h1><center>Tonight: <%= @pm_task %></center></h1>
  </div>

  <div class="well">
    <h1><center>Word of the Day:</center></h1>
    <h1><center><%= @word %></center></h1>
  </div>

  <div class="well">
    <h1><center><%= @meaning %></center></h1>
  </div>
</div>
